<!doctype html>
<html>
  <head>
     <link src="{{url_for('static', filename='index.css')}}?q={{ version }}">
  </head>
  <body>
    default : <a href="https://media.interieur.gouv.fr/deplacement-covid-19/">https://media.interieur.gouv.fr/deplacement-covid-19</a>
      <br>raisons : <br>
      <br>
      <div id="app">
        <div v-cloak>
          <input name="user" v-on:keyup="checkIt($event)" v-model="input" placeholder="start with me">
          <ol>
            <li v-for="raison in raisons"><span v-if="user==''">[[ raison ]]</span> <a target="blank" v-if="user!==''" v-bind:href="'/build/'+raison+'/'+user">sortie [[ raison ]]</a> </li>
          </ol>
        </div>
      </div>
  <script>
    var reasons = {{ reasons | tojson }};
    var known   = {{ known  | tojson}};
  </script>
  <script src="{{url_for('static', filename='vue.js')}}?q={{ version }}"></script>
  <script src="{{url_for('static', filename='index.js')}}?q={{ version }}"></script>
  </body>
</html>
